.address{
	width: 500px;
}
.divTable {
	font-size: 20px;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	/*margin-left: auto;*/
	margin: auto;
	margin-top: 40px;
}
.divTable .divTitle {
	display: table-caption;
	text-align: center;
	font-weight: bold;
	font-size: larger;
}
.divTable .divHeading {
	display: table-row;
	font-weight: bold;
	border-bottom-width: 2px;
}
.divTable .divHeading .Cell {

	border-bottom-width: 2px;
}
.divTable .Row {
	display: table-row;
}

.divTable .Row:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.divTable .Row:hover {
	background-color: #f5f5f5;
	cursor: default
}
.divTable .Cell {
	/*position: relative;*/
	text-align: center;
	display: table-cell;
	border: 1px solid #ddd;
	border-width: thin;
	padding: 8px;
}

.divTable .Cell img{
	width: 240px;
}
.text{
	
}
.btn_tt:hover{
	cursor: pointer;
}
.btn_tt{
	margin-top: 10px;
	padding: 10px 100px;
    background: skyblue;
    color: white;
    border: none;
    font-size: 20px;
}